body, html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
#topContainer {
	width: 100%;
	height: 100%;
	background-color: #1d1f21;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#mainPage {
	width: 100%;
	min-height: 100%;
	background-color: white;
}
a {
	color: #2674f2;
	text-decoration: none;
	padding: 5px;
}
.code {
	color: rgba(256,256,256,1);
	opacity: 1;
}
.code .new {color: #B695BF;}
.code .fun {color: #81a2be;}
.code .var {color: #f0c674;}
.code .string {color: #B5BE63;}
.hidden {
	display:none;
}
.mbr {
	display: none;
}
@media screen and (max-width: 600px) {
  .mbr {
	display: block;
  }
}
